 ul{
 	display: block;
 	background: black;
 	padding: 0;
 	margin: 0;
 	width: 300px;
 }
 li{
 	background: LightYellow;
 	list-style: none;
 	border: 1px solid black;
 	padding: 15px 40px;
	width: 300px;
 }
